"*":
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "linter-rubocop"
      "linter-jshint"
      "linter-coffeelint"
      "tab-move-key"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "041ae847-39a2-4f83-0c25-6bc6766b41a0"
  "git-blame":
    columnWidth: 300
  "git-history": {}
  linter:
    showErrorPanel: false
  "linter-rubocop": {}
  "release-notes":
    viewedVersion: "0.95.0"
  rspec: {}
  tabs:
    enableVcsColoring: true
  "terminal-status": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 9
